* 
{
    box-sizing: border-box;
}

img 
{
    display: block;            /*This displays the images as block element instead of inline, which is the default. */
    max-inline-size: 100%;
}

a
{
    color: rgb(0, 255, 195);
}

/* a:visited                // Not primarily Used, for clarification purposes
{
    color: darkmagenta;
} */

a:hover,
a:focus-visible
{
    color: rgb(0, 255, 85);
    font-style: oblique;
}

a:active
{
    color: #fff;
}

header
{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

body
{
    background-color: #000;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

section
{
    margin-block: 5rem;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    color: #8a00ec;
    font-size: 7.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 0.9;
}

h2
{
    color: rgb(255, 136, 0);
    font-size: 1.8rem;
    /* text-align: center; */
}

p
{
    /* text-align: center; */
    font-size: 1.1rem;
    margin-block: 1.2rem;
}

ul
{
    color: #fff;
    list-style:lower-greek;
}

ul li::marker
{
    color:greenyellow;
}

footer
{
    text-align: center;
}

.climber-bg
{
    background-image: url('../images/simple-steps.jpg');
    border:#b768f0 solid 5px;
    padding: 8%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-center
{
    text-align: center;
}

.primary-bg
{
    background-color: #8a00ec;
    color: #fff;
    padding: 2%;
    text-align: center;
    border: #b768f0 3px solid;
}
.primary-bg strong
{
    color: aqua;
}

.secondary-text
{
    color: lawngreen;
}

.wrapper 
{
    max-inline-size: 1000px;
    margin-inline: auto;
}

.two-column-layout
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}
.primary-nav
{

}
.primary-nav ul
{
    display: flex;
    gap: 01;
    list-style: none;
    padding: 0;
    /* border: 0;           Not used here*/ 
    margin: 0;
}
.primary-nav a
{
    color: lawngreen;
    text-decoration: none;
    font-weight:bolder;
    padding: 7px;
}
.primary-nav a:hover,
.primary-nav a:focus-visible
{
    background-color: grey;
    font-style: normal;
    padding: 7px;
    border-radius: 5px;
    animation: rgb 5s linear infinite;
}

/* =========================================
   ANIMATIONS
   =========================================
*/

@keyframes rgb {
  0%, 100% {
    background-color: #ff0000; /* Red */
  }
  33% {
    background-color: #00ff00; /* Green */
  }
  66% {
    background-color: #0000ff; /* Blue */
  }
}