header
{
    text-align: center;
}


body
{
    background-color: #ffffff;
    padding: 10%;
    font-family: 'Times New Roman', Times, serif;
    
}

h1
{
    font-family: Arial, sans-serif;
    color: #8a00ec;
    font-size: 100px;
    text-align: center;
}

h2
{
    color: rgb(255, 136, 0);
    /* text-align: center; */
}

p
{
    /* text-align: center; */
}

footer
{
    background-color: rgba(0, 21, 113, 0.767);
    color: #fff;
    text-align: center;
}

